APP_NAME=Bit_micro_serverse

SECRET_KEY=change-me-to-a-long-random-string-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
CORS_ORIGINS=*

PASSWORD_RESET_CODE_TTL_MINUTES=15

AUTH_SERVICE_PORT=8001
POSTGRES_USER=bitserves
POSTGRES_PASSWORD=bitserves_password
POSTGRES_DB_AUTH=auth_db
POSTGRES_HOST=db-auth
POSTGRES_PORT=5432